.btn{
    background: white;
    color: black;
    border-radius: 0.8rem;
    font-weight: 800;
    padding:  1rem 1.5rem;
    transition: 0.2s;
    border: 1px solid white;
}
.btn:hover{
    background: #123;
    color: white;
}
