.tile{
    width: 100%;
    background: #123;
    border-radius: 1rem;
    width: 250px;
    height: 290px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 195, 255, 0.089);
}
.bg2{
    height: 40%;
    background: rgba(0, 0, 0, 0.486);
    border-radius: 1rem;
    width: 100%;
    justify-self: flex-end;
    align-self: flex-end;
}
.imgFrame{
    height: 110px;
    width: 110px;
    margin-top: 50px;
    background: white;
    padding: 4px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}
.imgFrame>img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}