@tailwind base;
@tailwind components;
@tailwind utilities;

 :root{
  background-color: #02080e;
  background-color: #02080e;
  background: radial-gradient(circle, transparent 20%, #02080e 20%, #02080e 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #02080e 20%, #02080e 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#15181c 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #15181c 1.6px, #02080e 1.6px) -0.8px 0;
  background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
  color: white;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

#hero_section{
  height: 95vh;
  color: white;
  background: linear-gradient(0deg, #0c0c10ef, rgba(1, 11, 26, 0.747)), url('/images/hero_bg.jpg');
  background-size: cover;
  scroll-snap-align: start none;
}
.more_info{
  background: #123;
  height: 100vh;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: -30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.411);
  scroll-snap-align: start none;
}
.more-info2{
  background: rgb(0, 72, 131);
}
.more-info-section{
  min-width: 350px;
  max-width: 400px;
  object-fit: contain;
}

.gen-link{
  color: cyan;
  transition: 0.3s;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}
.gen-link:hover{
  text-decoration-color: cyan;
}
.fade-in-section {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s ease-out;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0px);
}
.fade-up{
  animation: fade-up 0.6s ease-out;
}
.fade{
  animation: fade 1.5s ease-out;
}
@keyframes fade-up {
  0%{
    transform:translateY(25px);
    opacity: 0.2;
  }
  100%{
    transform:translateY(0px);
    opacity: 1;
  }
}
@keyframes fade {
  0%{
    opacity: 0.2;
  }
  100%{
    opacity:1;
  }
}
