@tailwind base;
@tailwind components;
@tailwind utilities;

 :root{
  background-color: #02080e;
  background-color: #02080e;
  background: radial-gradient(circle, transparent 20%, #02080e 20%, #02080e 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #02080e 20%, #02080e 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#15181c 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #15181c 1.6px, #02080e 1.6px) -0.8px 0;
  background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
  color: white;
  height: 100%;
}

#hero_section{
  height: 90vh;
  color: white;
  background: linear-gradient(0deg, #0c0c10ef, rgba(1, 11, 26, 0.747)), url('/hero_bg.jpg');
  background-size: cover;
}
#more_info{
  background: #123;
  height: 100vh;
  border-radius: 30px;
  margin-top: -30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.411);
}
.fade-up{
  animation: fade-up 0.7s ease-out;
}
.fade{
  animation: fade 1.5s ease-out;
}
@keyframes fade-up {
  0%{
    transform:translateY(25px);
    opacity: 0.2;
  }
  100%{
    transform:translateY(0px);
    opacity: 1;
  }
}
@keyframes fade {
  0%{
    opacity: 0.2;
  }
  100%{
    opacity:1;
  }
}
